<settings>

    <setting propertyKey="@Properties.appVersion" title="@Strings.AppVersionTitle">
        <settingConfig type="alphaNumeric" readonly="true" />
    </setting>

    <setting propertyKey="@Properties.BatteryCalcMethod" title="@Strings.SelectCapacityMethod">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.FitLogging" title="@Strings.SelectFitLogging">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.RotateFields" title="@Strings.SelectRotateFields">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.Alerts" title="@Strings.SelectAlerts">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.DeviceLock" title="@Strings.SelectDeviceLock">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.UserSetting1" title="@Strings.ShowTitle1">
        <settingConfig type="list">
            <listEntry value="0">@Strings.Off</listEntry>
            <listEntry value="1">@Strings.TripEnergy</listEntry>
            <listEntry value="2">@Strings.Temperature</listEntry>
            <listEntry value="3">@Strings.DynamoPower</listEntry>
            <listEntry value="4">@Strings.DynamoGear</listEntry>
            <listEntry value="5">@Strings.DynamoFrequency</listEntry>
            <listEntry value="6">@Strings.BatteryVoltage</listEntry>
            <listEntry value="7">@Strings.BatteryCurrent</listEntry>
            <listEntry value="8">@Strings.Load</listEntry>
            <listEntry value="9">@Strings.Speed</listEntry>
            <listEntry value="10">@Strings.BatteryCapacity</listEntry>
            <listEntry value="11">@Strings.ChargingState</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.UserSetting2" title="@Strings.ShowTitle2">
            <settingConfig type="list">
            <listEntry value="0">@Strings.Off</listEntry>
            <listEntry value="1">@Strings.TripEnergy</listEntry>
            <listEntry value="2">@Strings.Temperature</listEntry>
            <listEntry value="3">@Strings.DynamoPower</listEntry>
            <listEntry value="4">@Strings.DynamoGear</listEntry>
            <listEntry value="5">@Strings.DynamoFrequency</listEntry>
            <listEntry value="6">@Strings.BatteryVoltage</listEntry>
            <listEntry value="7">@Strings.BatteryCurrent</listEntry>
            <listEntry value="8">@Strings.Load</listEntry>
            <listEntry value="9">@Strings.Speed</listEntry>
            <listEntry value="10">@Strings.BatteryCapacity</listEntry>
            <listEntry value="11">@Strings.ChargingState</listEntry>
            </settingConfig>
        </setting>

    <setting propertyKey="@Properties.UserSetting3" title="@Strings.ShowTitle3">
        <settingConfig type="list">
            <listEntry value="0">@Strings.Off</listEntry>
            <listEntry value="1">@Strings.TripEnergy</listEntry>
            <listEntry value="2">@Strings.Temperature</listEntry>
            <listEntry value="3">@Strings.DynamoPower</listEntry>
            <listEntry value="4">@Strings.DynamoGear</listEntry>
            <listEntry value="5">@Strings.DynamoFrequency</listEntry>
            <listEntry value="6">@Strings.BatteryVoltage</listEntry>
            <listEntry value="7">@Strings.BatteryCurrent</listEntry>
            <listEntry value="8">@Strings.Load</listEntry>
            <listEntry value="9">@Strings.Speed</listEntry>
            <listEntry value="10">@Strings.BatteryCapacity</listEntry>
            <listEntry value="11">@Strings.ChargingState</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.UserSetting4" title="@Strings.ShowTitle4">
        <settingConfig type="list">
            <listEntry value="0">@Strings.Off</listEntry>
            <listEntry value="1">@Strings.TripEnergy</listEntry>
            <listEntry value="2">@Strings.Temperature</listEntry>
            <listEntry value="3">@Strings.DynamoPower</listEntry>
            <listEntry value="4">@Strings.DynamoGear</listEntry>
            <listEntry value="5">@Strings.DynamoFrequency</listEntry>
            <listEntry value="6">@Strings.BatteryVoltage</listEntry>
            <listEntry value="7">@Strings.BatteryCurrent</listEntry>
            <listEntry value="8">@Strings.Load</listEntry>
            <listEntry value="9">@Strings.Speed</listEntry>
            <listEntry value="10">@Strings.BatteryCapacity</listEntry>
            <listEntry value="11">@Strings.ChargingState</listEntry>
        </settingConfig>
    </setting>

</settings>
