<settings>

    <setting propertyKey="@Properties.appVersion" title="@Strings.AppVersionTitle">
        <settingConfig type="alphaNumeric" readonly="true" />
    </setting>

    <setting propertyKey="@Properties.BatteryCalcMethod" title="@Strings.SelectCapacityMethod">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.Logging" title="@Strings.SelectLogging">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.Milesperhour" title="@Strings.SelectSpeedUnit">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.ShowValue1" title="@Strings.ShowTitle1">
        <settingConfig type="list">
            <listEntry value="0">@Strings.Off</listEntry>
            <listEntry value="1">@Strings.TripEnergy</listEntry>
            <listEntry value="2">@Strings.Temperature</listEntry>
            <listEntry value="3">@Strings.DynamoPower</listEntry>
            <listEntry value="4">@Strings.DynamoGear</listEntry>
            <listEntry value="5">@Strings.DynamoFrequency</listEntry>
            <listEntry value="6">@Strings.BatteryVoltage</listEntry>
            <listEntry value="7">@Strings.BatteryCurrent</listEntry>
            <listEntry value="8">@Strings.LoadCurrent</listEntry>
            <listEntry value="9">@Strings.Speed</listEntry>
            <listEntry value="10">@Strings.BatteryCapacity</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.ShowValue2" title="@Strings.ShowTitle2">
            <settingConfig type="list">
            <listEntry value="0">@Strings.Off</listEntry>
            <listEntry value="1">@Strings.TripEnergy</listEntry>
            <listEntry value="2">@Strings.Temperature</listEntry>
            <listEntry value="3">@Strings.DynamoPower</listEntry>
            <listEntry value="4">@Strings.DynamoGear</listEntry>
            <listEntry value="5">@Strings.DynamoFrequency</listEntry>
            <listEntry value="6">@Strings.BatteryVoltage</listEntry>
            <listEntry value="7">@Strings.BatteryCurrent</listEntry>
            <listEntry value="8">@Strings.LoadCurrent</listEntry>
            <listEntry value="9">@Strings.Speed</listEntry>
            <listEntry value="10">@Strings.BatteryCapacity</listEntry>
            </settingConfig>
        </setting>

    <setting propertyKey="@Properties.ShowValue3" title="@Strings.ShowTitle3">
        <settingConfig type="list">
            <listEntry value="0">@Strings.Off</listEntry>
            <listEntry value="1">@Strings.TripEnergy</listEntry>
            <listEntry value="2">@Strings.Temperature</listEntry>
            <listEntry value="3">@Strings.DynamoPower</listEntry>
            <listEntry value="4">@Strings.DynamoGear</listEntry>
            <listEntry value="5">@Strings.DynamoFrequency</listEntry>
            <listEntry value="6">@Strings.BatteryVoltage</listEntry>
            <listEntry value="7">@Strings.BatteryCurrent</listEntry>
            <listEntry value="8">@Strings.LoadCurrent</listEntry>
            <listEntry value="9">@Strings.Speed</listEntry>
            <listEntry value="10">@Strings.BatteryCapacity</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.ShowValue4" title="@Strings.ShowTitle4">
        <settingConfig type="list">
            <listEntry value="0">@Strings.Off</listEntry>
            <listEntry value="1">@Strings.TripEnergy</listEntry>
            <listEntry value="2">@Strings.Temperature</listEntry>
            <listEntry value="3">@Strings.DynamoPower</listEntry>
            <listEntry value="4">@Strings.DynamoGear</listEntry>
            <listEntry value="5">@Strings.DynamoFrequency</listEntry>
            <listEntry value="6">@Strings.BatteryVoltage</listEntry>
            <listEntry value="7">@Strings.BatteryCurrent</listEntry>
            <listEntry value="8">@Strings.LoadCurrent</listEntry>
            <listEntry value="9">@Strings.Speed</listEntry>
            <listEntry value="10">@Strings.BatteryCapacity</listEntry>
        </settingConfig>
    </setting>

</settings>
